@keyframes bgAnimation {
  0% {
    background-color: #0a192f; /* Initial background color */
  }
  50% {
    background-color: #ed64a6; /* Intermediate background color */
  }
  100% {
    background-color: #ed8936; /* Final background color */
  }
}
